@import url('https://fonts.cdnfonts.com/css/homer-simpson-revised');


.simpsonfont {
    font-family: 'Homer Simpson Revised', sans-serif;
    font-size: 50px;
  }
.fondoBody {
    background: rgb(122,178,212);
background: linear-gradient(90deg, rgba(122,178,212,1) 9%, rgba(200,162,227,1) 96%);
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainCalsic{
    flex-grow: 1;
}

.imagenLogo {
    max-width: 400px;
    height: auto;
    max-width: 100%;
}

.btnAjust {
    width: fit-content;
  }

  .txFrases {
        font-size: 22px;
        background-color: white; /* Fondo blanco */
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
      }
  
      .imgCharacters {
        max-width: auto;
        height: 400px;
        display: block;
        margin: 0 auto;
    }
